In [1]:
for i in range (10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [6]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range (2,10):
    print(i)

2
3
4
5
6
7
8
9

In [9]:
for i in range (2,10,2):
    print(i)

2
4
6
8

In [11]:
for i in range (10, 2, -1):
  print(i)

10
9
8
7
6
5
4
3

In [13]:
num=int(input())
for i in range (2, 11 ,1):
    print(num,"x",i,"=" , (i*num))

4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [15]:
num=int(input())
for i in range (1, 11 ,1):
    print(f"{num} x {i} = {i*num}" )

6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [16]:
list1=['king', 'queen' , 'rookie ' , 'pawn', 'roger' , 'paul']

In [17]:
print(list1)

['king', 'queen', 'rookie ', 'pawn', 'roger', 'paul']

In [18]:
a=1
for i in list1:
    print(a,i)
    a+=1

1 king
2 queen
3 rookie
4 pawn
5 roger
6 paul

In [19]:
name='python'
for char in name:
    print(char)

p
y
t
h
o
n

In [21]:
for i in range(1,10):
    for j in range(1,10):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [22]:
for i in range(1,10):
    for j in range(1,10):
        print(f"{i} x {j} = {i*j}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [24]:
num1=int(input('num1'))
num2=int(input('num2'))
for i in range(num1, num2+1):
    for j in range(1,10):
        print(f"{i} x {j} = {i*j}")

num15
num27
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [26]:
search=input()
for i in list1:
    if search == i:
        print('found')

king
found

In [28]:
num=int(input())
if num % 2 == 0:
        for i in range (2,10):
            print(f"{num} x {i} = {i*num}")
else:
    print('odd')

2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [35]:
num1=int(input())
num2=int(input())
if num % 2 == 0 and num2 % 2 == 1:
    for i in range (num1,num2+1):
        for j in range (1,11):
            print(f"{i} x {j} = {i*j}")
else:
    print('enter the correct sequence')

2
8
enter the correct sequence

In [37]:
list1=['king', 'queen' , 'rookie ' , 'pawn', 'roger' , 'paul']
list2=['king', 'queen' , 'rookie ' , 'pawn', 'roger' , 'paul']
list3=['king', 'queen' , 'rookie ' , 'pawn', 'roger' , 'paul']
list4=['king', 'queen' , 'rookie ' , 'pawn', 'roger' , 'paul']
list5=['king', 'queen' , 'rookie ' , 'pawn', 'roger' , 'paul']
list6=['king', 'queen' , 'rookie ' , 'pawn', 'roger' , 'paul']
list7=['king', 'queen' , 'rookie ' , 'pawn', 'roger' , 'paul']
a=1
for i in list7:
    print(list7)
    a += 1

['king', 'queen', 'rookie ', 'pawn', 'roger', 'paul']
['king', 'queen', 'rookie ', 'pawn', 'roger', 'paul']
['king', 'queen', 'rookie ', 'pawn', 'roger', 'paul']
['king', 'queen', 'rookie ', 'pawn', 'roger', 'paul']
['king', 'queen', 'rookie ', 'pawn', 'roger', 'paul']
['king', 'queen', 'rookie ', 'pawn', 'roger', 'paul']

In [39]:
#square
for i in range (1,10):
    for j in range (1,10):
        print('*' , end=' ')
    print()

* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *

In [40]:
#triangle
for i in range (1,10):
    for j in range (i):
        print('*' , end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [53]:
for i in range (10,0,-1):
    for j in range (i):
        print('*' , end=' ')
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [44]:
for i in range (1,10):
    for j in range (i):
        print('*' , end=' ')
    print()
for i in range (10,0,-1):
    for j in range (i):
        print('*' , end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [46]:
n=5
for i in range(1,n+1):
    for space in range (n-1):
        print(' ', end=' ')
    for star in range(i):
        print('*', end=' ')
    print()

        *
        * *
        * * *
        * * * *
        * * * * *

In [52]:
n=5
for i in range(n,0 , -1):
    for star in range (n-1):
        print(' ', end=' ')
    for space in range(i):
        print('*', end=' ')
    print()

        * * * * *
        * * * *
        * * *
        * *
        *

In [54]:
n=6
m=5
for i in range(1,n+1):
    for space in range (n-1):
        print(' ', end=' ')
    for star in range(i):
        print('*', end=' ')
    print()

for i in range(m,0, -1):
    for space in range (n-1):
        print(' ', end=' ')
    for star in range(i):
        print('*', end=' ')
    print()

          *
          * *
          * * *
          * * * *
          * * * * *
          * * * * * *
          * * * * *
          * * * *
          * * *
          * *
          *

In [55]:
for i in range(1, 5):
    for j in range(1,i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [56]:
num=1
for i in range(1, 5):
    for j in range(1,i+1):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [57]:
for i in range(1, 5):
    for j in range(i):
        print(num, end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [66]:
#pyramid
n=5
for i in range(1,n+1):
    print(" "*(n-i), end='')
    print("* "*i)

    *
   * *
  * * *
 * * * *
* * * * *

In [68]:
n=5
for i in range(n,0,-1):
    print(" "*(n-i), end='')
    print("* "*i)

* * * * *
 * * * *
  * * *
   * *
    *

In [70]:
#reverse a diamomd
n=5
for i in range(1,n+1):
    print(" "*(n-i), end='')
    print("* "*i)
for i in range(n,0,-1):
    print(" "*(n-i), end='')
    print("* "*i)

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [71]:
#while codition based loop: user based condition
#for loop range based
n=5
while n>1:
    print(n)
    n -= 1

5
4
3
2

In [72]:
n=1
while n<=5:
    print(n)
    n+=1

1
2
3
4
5

In [74]:
password=""
while password !='123456':
    print('enter correct password')
    password=input('enter password')
print('access granted')

enter correct password
enter password56
enter correct password
enter password123456
access granted

In [75]:
import time

In [80]:
i = int(input())
while i > -1:
    print(i)
    time.sleep(1)
    i-=1

8
8
7
6
5
4
3
2
1
0

In [81]:
i = int(input())
while i > -1:
    print(i)
    time.sleep(1)
    i-=1
    print("----kaboom----")

8
8
----kaboom----
7
----kaboom----
6
----kaboom----
5
----kaboom----
4
----kaboom----
3
----kaboom----
2
----kaboom----
1
----kaboom----
0
----kaboom----

In [83]:
for i in range (1,11):
    if i == 6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [84]:
for i in range (1,11):
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [86]:
for i in range(1, 20):
    if i % 2 != 0:
        continue
    print(i)

2
4
6
8
10
12
14
16
18

In [87]:
for i in range(1, 100):
    if i % 7 != 0:
        continue
    print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [2]:
import random

In [4]:
while True:
    secret=random.randint(1,6)
    guess=int(input())
    if guess == secret:
        print('you won')
        break

1
2
3
4
you won

In [6]:
attempts=0
while attempts <= 3:
    pwd=input('enter password')
    if pwd == 'admin' :
        print('login sucess')
        break
    attempts+=1
else:
    print('account locked')123456

enter password123
enter password123
enter password123
enter password123
account locked

In [20]:
import time
i = 1
while i <=5:
    print("loading"+" , "*i)
    time.sleep(0.5)
    i += 1
print("loaded")

loading ,
loading ,  ,
loading ,  ,  ,
loading ,  ,  ,  ,
loading ,  ,  ,  ,  ,
loaded

In [2]:
 #Functions

In [3]:
print('hello aparna good morning how are you')

hello aparna good morning how are you

In [4]:
def greet():
    print('good morning')

In [5]:
greet()

good morning

In [8]:
def greet1(name):
    print(f"hello {name} good morning how are you")

In [9]:
greet1('amit')

hello amit good morning how are you

In [10]:
greet1('kamal')

hello kamal good morning how are you

In [11]:
greet1('shruti')

hello shruti good morning how are you

In [12]:
def calc(a,b):
    print(a+b)

In [26]:
calc(2,3)

5

In [18]:
calc(2)

TypeError: calc() missing 1 required positional argument: 'b'

In [19]:
def calc(a,b,c=0):
    print(a+b+c)

In [25]:
calc(2,3,4)

9

In [27]:
calc(3,4)

7

In [28]:
def calc(a,b,c):
    d=a+b+c
    d=d/3
    print(d)

In [29]:
calc(2,3,23)

9.333333333333334

In [30]:
#two types of global and local variable
a=greet1('raja')

hello raja good morning how are you

In [32]:
print(a)  #value is not asign

None

In [33]:
def greet2(name):
    return f"hello {name} good morning"

In [39]:
aa=greet2('pawan')

In [40]:
print(aa)

hello pawan good morning

In [41]:
def sq(n):
    print(n**2)

In [42]:
sq(5)

25

In [49]:
def table(num):
    for i in range(2,11):
        print(f"{num} x {i} = {i*num}")
table(4)

4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [63]:
def table(num):
    num = int(input())
    for i in range(2,11):
        print(f"{num} x {i} = {i*num}")
table()

TypeError: table() missing 1 required positional argument: 'num'

In [64]:
def multiple(a,b):
    return a+b,a*b

In [65]:
az= multiple(2,3)

In [66]:
print(az)

(5, 6)

In [68]:
a,z = multiple(2,3)

In [69]:
print(a,z)

5 6

In [71]:
type(az)

tuple

In [78]:
def calc(*args):
    ssum=0
    for i in args:
        ssum+=i
    return ssum

In [79]:
calc(2,3,4,5,6,7,8,9,6,5)

55

In [92]:
def calc(*args):
    ssum=0
    length=0
    for i in args:
        ssum+=i
    length=len(args)
    print(length, ssum)
    return ssum/length

In [93]:
calc(2,2,2,2,2,2)

6 12

2.0

In [94]:
name = 'i am the king'

In [96]:
len(name)

13

In [98]:
def add(a,b):
    print(a+b)

In [99]:
def mul(a,b):
    print(a*b)

In [103]:
choice=input('enter choice')
num1=int(input())
num2=int(input())
if choice == 'add':
    add(num1, num2)
elif choice == 'sub':
    sub(num1, num2)
elif choice == 'mul':
    mul(num1, num2)
else:
    print('wrong choice')

enter choicechoice mul
45
54
wrong choice

In [ ]:
print('calculator')
print(f"+ for addition")
print(f"- for subtraction")
print(f"* for multiplication")
num1=int(input('num1'))
num2=int(input('num2'))
choice=input('enter your op +, - or *')
if choice in ops:
    if choice == '+':
        add(num1, num2)
    elif choice == '-':
        sub(num1, num2)
    elif choice == '*':
        mul(num1, num2)
else:
    print('enter correct choice')

calculator
+ for addition
- for subtraction
* for multiplication
num14
num26

In [ ]:
def new_calc():
    print('calculator')
    print(f"+ for addition")
    print(f"- for subtraction")
    print(f"* for multiplication")
    num1=int(input('num1'))
    num2=int(input('num2'))
    choice=input('enter your op +, - or *')
    if choice in ops:
        if choice == '+':
            add(num1, num2)
        elif choice == '-':
            sub(num1, num2)
        elif choice == '*':
            mul(num1, num2)
    else:
        print('enter correct choice')

In [ ]:
new_calc()

In [ ]:
user=input('enter username')
if user == 'admin':
    password=input('enter password')
    if password == '123456':
        new_calc()
    else:
        print('wrong password')
else:
    print('wrong username')